#background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://media.giphy.com/media/oMg7wBHYhS3p5ER9y6/giphy.gif"); 
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  animation: robotAnimation 5s infinite linear;
}